<!DOCTYPE html>
<html lang="ko">
<head>

</head>
<body>
<div>
    <div>
        <nav>
            <div>
                <ul>
                    <li>
                        <div>
                            <a href="/">대시보드</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <div>
                <h1>DASHBOARD</h1>
                <div></div>
                <h1>Spring Batch Admin</h1>
            </div>
            <table>
            </table>
        </div>
    </div>
</div>
</body>
</html>
