<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="oracleMapper">
<!--    <insert id="insertLibrary" parameterType="com.batch.domain.oracle.LibraryTmp">-->
<!--        <![CDATA[-->
<!--        INSERT INTO CSV_TABLE (-->
<!--            LBRRY_CODE,-->
<!--            LBRRY_NM,-->
<!--            CTPRVN_NM,-->
<!--            SIGNGU_NM,-->
<!--            LBRRY_SE,-->
<!--            CLOSE_DAY,-->
<!--            WEEKDAY_OPER_OPEN_HHMM,-->
<!--            WEEKDAY_OPER_CLOSE_HHMM,-->
<!--            SAT_OPER_OPEN_HHMM,-->
<!--            SAT_OPER_CLOSE_HHMM,-->
<!--            HOLIDAY_OPER_OPEN_HHMM,-->
<!--            HOLIDAY_OPER_CLOSE_HHMM,-->
<!--            SEAT_CO,-->
<!--            BOOK_CO,-->
<!--            PBLICTN_CO,-->
<!--            NONEBOOK_CO,-->
<!--            LON_CO,-->
<!--            LONDAY_CNT,-->
<!--            RDNM_ADR,-->
<!--            OPERINSTITUTION_NM,-->
<!--            LBRRY_PHONENUMBER,-->
<!--            PLOT_AR,-->
<!--            BULD_AR,-->
<!--            HOMEPAGEURL,-->
<!--            LATITUDE,-->
<!--            LONGITUDE,-->
<!--            REFERENCE_DATE,-->
<!--            INSTT_CODE,-->
<!--            INSTT_NM-->
<!--        ) VALUES (-->
<!--            CSV_TABLE_SEQ.nextval,-->
<!--            #{lbrryNm},-->
<!--            #{ctprvnNm},-->
<!--            #{signguNm},-->
<!--            #{lbrrySe},-->
<!--            #{closeDay},-->
<!--            #{weekdayOperOpenHhmm},-->
<!--            #{weekdayOperCloseHhmm},-->
<!--            #{satOperOpenHhmm},-->
<!--            #{satOperCloseHhmm},-->
<!--            #{holidayOperOpenHhmm},-->
<!--            #{holidayOperCloseHhmm},-->
<!--            #{seatCo},-->
<!--            #{bookCo},-->
<!--            #{pblictnCo},-->
<!--            #{noneBookCo},-->
<!--            #{lonCo},-->
<!--            #{lonDaycnt},-->
<!--            #{rdnmadr},-->
<!--            #{operInstitutionNm},-->
<!--            #{lbrryPhoneNumber},-->
<!--            #{plotAr},-->
<!--            #{buldAr},-->
<!--            #{homepageUrl},-->
<!--            #{latitude},-->
<!--            #{longitude},-->
<!--            #{referenceDate},-->
<!--            #{insttCode},-->
<!--            #{insttNm}-->
<!--        )-->
<!--        ]]>-->
<!--    </insert>-->
<!--    <select id="selectLibrary" resultType="com.batch.domain.oracle.LibraryTmp">-->
<!--        <![CDATA[-->
<!--        SELECT-->
<!--            *-->
<!--        FROM CSV_TABLE-->
<!--        ]]>-->
<!--    </select>-->
</mapper>